html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

.ticket {
  background-position: center;
  border: 0;
  /*border: 1px dotted #ddd;*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 185px;
  margin: 4px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2px 4px;
  width: 140px;
}

.task {
  background-image: url("../img/file-task.png");
}

.bug {
  background-image: url("../img/file-bug.png");
}

#TicketsTable {
  border: none;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

#TicketsTable th {
  background-color: transparent;
  border-color: #999;
  border-style: dotted;
  border-width: 0 0 1px 1px;
  width: 30%;
}

/*#TicketsTable td*/
.tickets {
  border-color: #999;
  border-style: dotted;
  border-width: 0 0 0 1px;
  /* padding-bottom: 2em is a placeholder to drag new tickets */
  padding: 0 4px 2em;
  vertical-align: top;
}

#TicketsTable th:first-child, .tickets:first-child {
  border-left: 0;
}

.loading {
  background: url("../img/spinner-small-2.gif") no-repeat right top;
}

[draggable] {
  cursor: move;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Workaround for [draggable]>[contenteditable] bug in Chrome */
.draggable-disabled {
  cursor: move;
}

[contenteditable] {
  cursor: text;
}

[contenteditable]:hover:not(:focus) {
outline: 1px dotted #444;
}

#NewTicket {
  margin-bottom: 1em;
}

#Trash {
  background-image: url("../img/trash-empty.png");
  height: 128px;
  width: 128px;
}
